<%-include("header");%>
<center>
<h3>Success! You logged in!</h3>
  <a href="/adminarea/submissions" style="font-family: 'Press Start 2P', cursive;">View Project Submissions</a>
</center>
  <%-include("footer");%>
