<title>MadeWithGlitch.me</title>
<link rel="icon" type="image/png" href="//madewith.glitch.me/icon.png">
<meta name="title" content="MadeWithGlitch.me">
<meta name="description" content="A showcase of projects made on the simple online coding platform, Glitch!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://madewith.glitch.me/">
<meta property="og:title" content="MadeWithGlitch.me">
<meta property="og:description" content="A showcase of projects made on the simple online coding platform, Glitch!">
<meta property="og:image" content="https://cdn.glitch.com/6f2f34f7-a29c-4e8c-946a-a39743381f03%2F2e905441f4c1f513664e23daf7406db63fe40d6e_2_1035x154.png?v=1597495525724">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://madewith.glitch.me/">
<meta property="twitter:title" content="MadeWithGlitch.me">
<meta property="twitter:description" content="A showcase of projects made on the simple online coding platform, Glitch!">
<meta property="twitter:image" content="https://cdn.glitch.com/6f2f34f7-a29c-4e8c-946a-a39743381f03%2F2e905441f4c1f513664e23daf7406db63fe40d6e_2_1035x154.png?v=1597495525724">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="//madewith.glitch.me/default.css" rel="stylesheet"/>
    <%
    var x = 300;
    var rand = Math.floor(Math.random()*x);
    var rand2 = Math.floor(Math.random()*x);
    var rand3 = Math.floor(Math.random()*x);%>
    <style>body{background-color: rgb(<%=rand%>, <%=rand2%>, <%=rand3%>)};</style>
<center>
  <a href="/submit" class="submitproject">Submit my own project!</a>
      <br>
      <div class="heading">
        
    <h1 class="heading">
      Made with <img class="heading" src="//madewith.glitch.me/wordmark.svg" height="10%" ondragstart="return false;"></img>!
      </h1>
      </div>
    <style>
      .heading{
        vertical-align: middle;
      }
    </style>
      <h3>
        A showcase of projects made on the simple online coding platform, <a href="https://glitch.com">Glitch</a>!
      </h3>
    <div class="width-service">
