<%-include("header")%>
<hr>
<div style="margin-left:5vw;margin-right:5vw;text-align:left;">
  <h1>Thanks for your submission!</h1>
  <h3>
    1. What happens next?
  </h3>
  Your projects gets sent to our moderators who will review the submission. This review process can take anywhere from a few days to a few weeks, so please be patient. If it's been more than 2 weeks, shoot me an email at <a href="mailto:contact@eddiestech">contact@eddiestech.co.uk</a> and I'll take a look. Moderators have the right to edit, publish and discard your submission.
  <h3>
    2. What happens after it is published?
  </h3>
  Your project will be on the homepage and get a page (in the style of: madewith.glitch.me/projects/yourprojecturl.glitch.me - e.g. <a href="//madewith.glitch.me/projects/markme.glitch.me">madewith.glitch.me/projects/markme.glitch.me</a>)
  <h3>
    3. What about the badge?
  </h3>
  Oh, yes! You get a badge! But, you'll have to wait, it's coming soon...
  <h3>
    4. Confirmation Email
  </h3>
  <b>Note: confirmation emails are not currently being sent, do not be alarmed, your submission has been sent!</b><br />
  A confirmation email will be sent to the email you included on submission. If there is an error, your submission will be removed, under the assumption you gave us a bogus email.
  <h3>
    Thanks for the submission! We can't wait to have your project shown on MadeWithGlitch.me!
  </h3>
</div>
  <%-include("footer");%>
